<br/>
<div class="clearfix"></div>
<ul class="pager">
    <% if(!isFirstPage){%>
    <li class=".previous"><a href="?p=<%=page-1%>" title="上一页">&larr; 上一页</a></li>
    <%}%>
    <%if(!isLastPage){%>
    <li class=".next"><a href="?p=<%= page+1%>" title="下一页">下一页 &rarr;</a></li>
    <%}%>
</ul>
