<%- include header.ejs%>
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>发表文章</legend>
            <div class="control-group ">
                <label class="control-label" for="title">标题：</label>
                <input type="text" name="title" id="title" class="form-control" />
            </div>
            <div class="control-group">
                <p>标签：</p>
                <label>
                    <input type="text" name="tag1" class="form-control" />
                </label>
                <label>
                    <input type="text" name="tag2" class="form-control" />
                </label>
                <label>
                    <input type="text" name="tag3" class="form-control" />
                </label>

            </div>
            <div class="control-group">
                <label class="control-label" for="post">内容：</label>
                <textarea name="post" id="post" placeholder="支持markdown语法" class="form-control" rows="20"></textarea>
            </div>

            <div class="control-group">
                <button type="submit" class="btn btn-info btn-block ">发&nbsp;&nbsp;布</button>
            </div>
        </fieldset>
    </form>

    <footer>
        <p><a href="http://www.haines.com/" target="_blank">haines</a> 2016</p>
    </footer>

<%- include footer.ejs%>